body {
  padding: 5px;
  font: 20px/150% "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
  color: #555;
  background: #fefefe;
}

input,
textarea,
button {
  font: inherit;
}

.panel
  background: #f6f6f6
  box-shadow: 0 1px 2px rgba(0,0,0,0.3)

.panel-danger
  .panel-heading
    background-color: #c00
    background-image: linear-gradient(to bottom,#c00 0,#c33 100%)
    color: #FFF

.panel-warning
  border-color: #fff
  .panel-heading
    background-color: #FFE512
    background-image: linear-gradient(to bottom,#FFE512 0,#FFd623 70%)
    color: #4e4e4e

.panel-success
  border-color: #fff
  .panel-heading
    background-color: #4d1
    background-image: linear-gradient(to bottom,#4d1 0,#5e2 100%)
    color: #fff

.tienda
  font-size: 70%
.fechamini
  display: block;
  margin-top: 2px
  font-size: 40%
  color: #888
    
.danger
  color: #c00